# Common large file extensions
*.bin
*.pt
*.pth
*.safetensors
*.csv

iot-timeseries-forecasting/models/__pycache__/

iot-timeseries-forecasting/models/llm_forecaster

# Specific large directories
iot-timeseries-forecasting/updated_notebooks/wandb/

iot-timeseries-forecasting/runs

#ignore virtual environment
/.venv/